<header
  class="relative flex h-[50px] bg-gc-light-bg-primary dark:bg-gc-dark-bg-primary text-gc-light-text-primary dark:text-gc-dark-text-primary items-center justify-between overflow-hidden px-4"
>
  <div class="flex items-center gap-2">
    <h1 class="gc_title_font text-2xl font-semibold leading-none">Galway Clarke</h1>

    <button
      type="button"
      class="flex h-full items-center justify-center p-0"
      aria-label="Toggle navigation"
      @click="
        navCollapsed = !navCollapsed;
        updateUserPreferences({ nav_collapsed: navCollapsed });
      "
    >
      <span class="material-symbols-outlined text-2xl leading-none"> menu_open </span>
    </button>
  </div>

  <div class="flex items-center gap-2 text-gc-light-text-primary dark:text-gc-dark-text-primary">
    <div class="flex w-32 flex-col overflow-hidden text-xs leading-tight">
      <span class="truncate font-semibold">
        {{ request.user.get_full_name|default:request.user.email }}
      </span>

      <span class="truncate text-[0.7rem] opacity-80">
        {{ active_organization.name|default:"No organization" }}
      </span>
    </div>

    <button
      type="button"
      class="flex h-full items-center justify-center p-0"
      aria-label="Open profile drawer"
      @click="$dispatch('toggle-drawer')"
    >
      <span class="material-symbols-outlined text-2xl leading-none"> account_circle </span>
    </button>
  </div>
</header>
