<aside class="mr-1 text-white transition-all duration-300" :class="navCollapsed ? 'w-16' : 'w-48'">
  <nav class="space-y-1 p-3 text-sm font-semibold">
    <c-app.components.navbar_item icon="space_dashboard" label="Dashboard" />
    <c-app.components.navbar_item icon="volunteer_activism" label="Donors" />
    <c-app.components.navbar_item icon="campaign" label="Engagement" />
    <c-app.components.navbar_item icon="confirmation_number" label="Events" />
    <c-app.components.navbar_item icon="query_stats" label="Reports" />
    <c-app.components.navbar_item icon="settings" label="Settings" />
  </nav>
</aside>
