<a
  class="flex items-center gap-3 rounded px-3 py-2 transition hover:bg-white/10"
  href="{{ href|default:'#' }}"
  {% if hx_get %}hx-get="{{ hx_get }}"{% endif %}
  hx-target="#htmx_workspace"
  hx-swap="innerHTML"
>
  <span class="material-symbols-outlined text-base transition duration-200 pr-1.5">{{ icon|default:"circle" }}</span>
  <span
    x-show="!navCollapsed"
    x-transition.opacity
    class="origin-left transition duration-200"
  >
    {{ label|default:"Menu Item" }}
  </span>
</a>
