{% comment %}
Address tab fields for organization form.
Expects:
- organization
- city_initial, state_initial, county_initial, zip_initial
{% endcomment %}
<c-app.components.fields.text_field
  id="org_address_one_{{ organization.id }}"
  name="address_one"
  label="Address Line 1"
  value="{{ organization.address_one|default:'' }}"
/>

<c-app.components.fields.text_field
  id="org_address_two_{{ organization.id }}"
  name="address_two"
  label="Address Line 2"
  value="{{ organization.address_two|default:'' }}"
/>

<c-app.components.fields.remote_pill_select
  id="org_city_{{ organization.id }}"
  name="location_city"
  label="City"
  options_url="{% url 'crm-select-cities' %}"
  :initial="city_initial"
/>

<c-app.components.fields.remote_pill_select
  id="org_state_{{ organization.id }}"
  name="location_state"
  label="State/Region"
  options_url="{% url 'crm-select-states' %}"
  :initial="state_initial"
/>

<c-app.components.fields.remote_pill_select
  id="org_county_{{ organization.id }}"
  name="location_county"
  label="County"
  options_url="{% url 'crm-select-counties' %}"
  :initial="county_initial"
/>

<c-app.components.fields.remote_pill_select
  id="org_zip_{{ organization.id }}"
  name="location_zip"
  label="ZIP Code"
  options_url="{% url 'crm-select-zip-codes' %}"
  :initial="zip_initial"
/>
